body {
    background-image: url(../assets/images/berenice-melis-cNKnDxNZ35I-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: black;
}
